{% extends "./adminbase.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-float-label.min.css' %}">
{% endblock %}
{% block script %}
    <script>


        $(function () {
            $(".delete").click(function (event) {
                let id = $(this).attr("name")


                $.ajax({
                    async: true,
                    url: '/admin/college/delete/' + id + "/",
                    type: 'GET',
                    traditional: true,

                }).done(function (data) {
                    console.log(data)
                    if (data.ret == "success") {
                        window.location.reload()
                        console.log("success")
                    } else {
                        console.log("error")
                    }

                })
            });


        })

    </script>

{% endblock %}
{% block adminbody %}
    <div id="rightborder" class="pull-left" style="margin: 0;">

        <div class="pull-left" style="margin-bottom: 5px;">
            <h3 style="margin: 0px" class="pull-left">所有院校:&nbsp;&nbsp;</h3>
            <button class="btn btn-xs btn-primary glyphicon glyphicon-plus" class="pull-left" type="button"
                    data-toggle="modal" data-target="#myModal" id="create"></button>
        </div>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>序号</th>
                <th>学院名称</th>
                <th>联系电话</th>
                <th>学院简介</th>
                <th>操作</th>
            </tr>
            </thead>
            {% for college in page %}
                <tr>
                    {% widthratio 10 1 index as size %}
                    <td name="{{ college.id }}">{{ size|add:forloop.counter }}</td>
                    <td>
                        <a href="/admin/college/detail/{{ college.id }}/1/">{{ college.name }}</a>
                    </td>
                    <td>{{ college.tel }}</td>
                    <td>{{ college.content }}</td>


                    <td>
                        <a href="/admin/college/detail/{{ college.id }}/1/" class="btn btn-info">查看</a>
                        <input type="button" class="delete btn btn-danger" name="{{ college.id }}" value="删除">
                    </td>
                </tr>
            {% endfor %}
        </table>
        {#    分页#}
        <div id="course-page">
            <nav aria-label="Page navigation">
                <div class="pagination" style="margin: 0 0">
                    <ul class="pagination">
                        {% if page.has_previous %}
                            <li><a href="/admin/college/{{ page.previous_page_number }}/" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span></a></li>
                        {% endif %}

                        {% for num in page.paginator.page_range %}
                            {% if pindex == num %}
                                <li><a href="">{{ num }}</a></li>
                            {% else %}
                                <li><a href="/admin/college/{{ num }}/">{{ num }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if page.has_next %}
                            <li><a href="/admin/college/{{ page.next_page_number }}/" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span></a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    {#模态框#}
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title " id="myModalLabel">创建消息</h4>
                </div>
                <form action="/admin/college/create/" method="post" class="well text-center">
                    {% csrf_token %}
                    <div class="modal-body form-group input-group" style="margin-bottom: 0">
                        <span class="has-float-label">
                        <input type="text" name="name" class="form-control" placeholder="请输入" id="coursename">
                        <label for="coursename">学院名</label>
                        </span>
                        <span class="has-float-label">
                        <input type="text" name="tel" class="form-control" placeholder="请输入" id="collegenum">
                        <label for="collegenum">电话</label>
                        </span>
                    </div>
                    <div class="form-group has-float-label">
                        <textarea name="content" id="blankcontent" cols="30" rows="2" class="form-control"></textarea>
                        <label for="blankcontent">内容</label>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <input type="submit" value="创建课程" class="btn btn-primary">
                    </div>
                    <div style="color: red">{{ err }}</div>
                </form>
            </div>
        </div>
    </div>
{% endblock adminbody %}