<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>信息修改</title>
    {% load static %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-float-label.min.css' %}">
</head>
<body>
<h2 style="text-align: center;margin-bottom:20px;">信息修改页面</h2>
<div style="text-align: center;width: 60%;margin: 0 auto" class="well modal-content">
    <form action="/admin/schoolpic/update/{{ schoolpic.id }}/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group has-float-label">
            <h5>简介</h5>
            <textarea name="content" cols="30" rows="2" placeholder="简介"
                      id="blankcontent">{{ schoolpic.content }}</textarea>
        </div>
        <div style="margin-bottom:15px">
            <img src="/media/{{ schoolpic.url }}" alt="" width="320px" height="300px">
        </div>
        <div>
            <label for="schoolfile" class="btn btn-info">图片重新上传</label>
            <input type="file" name="pic" id="schoolfile" style="display: none;">
            <input type="submit" value="修改" class="btn btn-info">
            <a href="/admin/schoolpic/1/" class="btn btn-default">返回</a>
        </div>
    </form>
    <div style="float: right;bottom: 0px;">最近修改时间：{{ schoolpic.publishtime }}</div>
    <div style="color: red">{{ err }}</div>
</div>
</body>
</html>