{% extends "./base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static  'plug/css/style.css' %}">
{% endblock %}
{% block script %}
    <script>
        $(function () {
            var slider = $("#scrollPics .slider");
            //获取图片
            var imgCon = $("#scrollPics .slider li");
            //除第一张其余的图片全部隐藏
            imgCon.not(imgCon.eq(0)).hide();
            //定义页码
            var num = $("#scrollPics .num")
            //获取li标签的长度
            //find()方法返回备选元素的后代元素
            var len = slider.find("li").length;
            var html_page = "";
            index = 0;
            //添加页码
            for (var i = 0; i < len; i++) {
                if (i === 0) {
                    html_page += "<li class='active'>" + (i + 1) + "</li>"
                }
                else {
                    html_page += "<li>" + (i + 1) + "</li>"
                }
            }
            //输出原点
            num.html(html_page)

            //显示索引对应的图片
            function showPic(index) {
                imgCon.eq(index).show().siblings("li").hide();
                num.find("li").eq(index).addClass("active").siblings("li").removeClass("active")
            }

            //原点点击事件
            $(".num li").click(function () {
                index = $(this).index()
                showPic(index)
            })
            //图片轮播
            $("#scrollPics").hover(function () {
                clearInterval(window.timer)
            }, function () {
                window.timer = setInterval(function () {
                    showPic(index);
                    index++;
                    if (index === len) {
                        index = 0
                    }
                }, 2000)
            }).trigger("mouseleave")//触发备选元素的指定事件

        })

    </script>
{% endblock %}
{% block body %}
    {# 这里开始是轮播图 #}
    {#    <div id="scrollPics">#}
    {#        <ul class="slider">#}
    {#            {% for foo in lostpic %}#}
    {#                <li><span>{{ foo.name }}</span>#}
    {#                    {% if foo.pic1 != "" %}#}
    {#                        <img src="/media/{{ foo.pic1 }}" alt="" width="500px" height="250px">#}
    {#                    {% else %}#}
    {#                        <img src="/static/img/default.jpg" alt="" width="500px" height="250px">#}
    {#                    {% endif %}#}
    {##}
    {#                </li>#}
    {##}
    {#            {% endfor %}#}
    {#        </ul>#}
    {#    </div>#}
    <div class="container">
        <div style="width: 100%;text-align: center;margin-top: 10px;" class="search d7">
            {# 这里开始是搜索 #}
            <form action="/lost/search/1/" method="get">
                <input type="text" placeholder="物品名" name="name">
                <button type="submit"><span class="icon-search"></span></button>
            </form>
        </div>
    </div>

    {#    查找的消息#}
    <div id="news-box">
        <div>
            <h2>失物 | 拾取 列表</h2>
            <small>共{{ length }}条相关信息</small>
        </div>
        <div>
            <ul style="list-style: none;">
                {% for lost in page %}
                    <li style="border-bottom: #F2F2F2 2px dashed;padding-bottom:10px;margin-bottom: 15px;">
                        <div>
                            <h4>
                            <a href="/lost/detail/{{ lost.id }}/">
                                {{ lost.name }}
                            </a>
                                <small>{{ lost.get_type_display }}</small>
                        </h4>
                        </div>
                        <div class="row">
                            <div class="pull-left" style="margin-left: 15px;">
                                {% if lost.pic1 != none %}
                                    <img src="/media/{{ lost.pic1 }}" alt="" width="190px" height="120px">
                                {% else %}
                                    {% if lost.pic2 != none %}
                                        <img src="/media/{{ lost.pic1 }}" alt="" width="190px" height="120px">
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="pull-left" style="margin-left: 10px;width: 60%;">
                                <p style="font-size: 20px;color: rgba(149,151,141,0.99)">详情：{{ lost.detail }}</p>
                            </div>
                        <div class="pull-right" style="margin-top:100px;">
                                <small class="forright"style="bottom: 0px;">丢失事件：{{ lost.time }}</small>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {#    分页#}
    <div id="course-page">
    <nav aria-label="Page navigation">
        <div class="pagination" style="margin: 0 0">
            <ul class="pagination">
                {% if page.has_previous %}
                    <li><a href="/lost/search/{{ page1.previous_page_number }}/" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span></a></li>
                {% endif %}

                {% for num in page.paginator.page_range %}
                    {% if pindex == num %}
                        <li><a href="">{{ num }}</a></li>
                    {% else %}
                        <li><a href="/lost/search/{{ num }}/">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page.has_next %}
                    <li><a href="/lost/search/{{ page1.previous_page_number }}/" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span></a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    </div>
{% endblock %}